In [27]:
import pandas as pd

In [32]:
df = pd.read_excel('data_by_year.xlsx')

In [35]:
df = df.rename(index=str, 
               columns={"Индекс": "region", "Год": "year","TFR":"gy",
                        "Gender GAP":"gg","GDP":"gdp","GDP^2":"gdpsq",
                       "Secularisation":"sc"})

In [38]:
df = df[['region', 'year', 'gy', 'gg', 'gdp', 'gdpsq', 'sc']]

In [41]:
df_val = df[[ 'gy', 'gg', 'gdp', 'gdpsq', 'sc']]

In [42]:
df_std = df_val.std()
df_mean = df_val.mean()

In [43]:
df[[ 'gy', 'gg', 'gdp', 'gdpsq', 'sc']] = df[[ 'gy', 'gg', 'gdp', 'gdpsq', 'sc']] - df_mean
df[[ 'gy', 'gg', 'gdp', 'gdpsq', 'sc']] = df[[ 'gy', 'gg', 'gdp', 'gdpsq', 'sc']]/df_std

In [44]:
df.head()

   region  year        gy        gg       gdp     gdpsq        sc
0       1  2002 -0.180788  0.776764 -0.785017 -0.336102 -0.433914
1       2  2002  0.068355 -0.277662 -0.819004 -0.338419  2.049147
2       3  2002  0.846925  1.003650 -0.923937 -0.343063 -0.540331
3       4  2002 -1.208501 -0.045674 -0.880822 -0.341613 -1.509908
4       5  2002  0.379783 -0.151067 -0.884079 -0.341745  0.109994

In [45]:
df.to_csv('data.csv', index=False)